body {
    background-color: #333333;
    color: white;
}

#top-bar-1 {
    background-color: navy;
}

#top-bar-2 {
    background-color: #333333;
}

select {
    background-color: black;
    color: white;
}

input {
    background-color: black;
    color: white;
}

#top-bar {
    border-bottom: 1px solid navy;
}

#bottom-bar {
    background-color: #333333;
    border-top: 1px solid navy;
}

#credits {
    background-color: darkslategray;
}

.group-header {
    padding: 12px;
    margin: 22px 12px 12px 12px;
    background-color: darkolivegreen;
    font-weight: 500;
}

.today {
    color: yellow;
}

.past {
    color: dimgray;
}